page-pontos {

    ion-content {
        
        ion-card {

            .point-date {
                font-size: 22px;
                color: #2398AB;
                font-weight: bold;
            }
        }
    }

}
