<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href="/dashboard"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
        <li><a href="/colaboradores"><i class="lnr lnr-users"></i> <span>Colaboradores</span></a></li>
        <li><a href="/cargos"><i class="lnr lnr-briefcase"></i> <span>Cargos</span></a></li>
        <li><a href="/pontos"><i class="lnr lnr-clock"></i> <span>Pontos</span></a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- END LEFT SIDEBAR -->